.ui-language-label {
  padding: 0px 4px 0px 4px;
  font-size: 11px;
  border-radius: 3px;
  white-space: nowrap;
  text-transform: uppercase;
  display: inline-block;
  background-color: #00bcd4;
  color: #ffffff;

}