.ui-type-command {
  background-color: #eeeeee;
  display: inline-block;
  line-height: 21px;
  padding: 0px 4px;
  border-radius: 2px;
}

.ui-chatbot-status {
  padding: 0px 4px 0px 4px;
  font-size: 11px;
  border-radius: 3px;
}