.page-users {
  // empty

  .cell-type-id {
    color: #999999;
    font-size: 13px;
  }
}

.modal-user {

  .ace_editor {
    border-radius: 5px;
  }

  .rs-form-group.chat-id {
    .rs-form-control-wrapper {
      width: calc(100% - 25px);
    }
    input {
      background-color: #eeeeee;
    }
  }

  .rs-modal-body {
    min-height: 350px;
  }

  .custom-buttons {
    float: left;
    > * {
      margin-left: 10px;
      &:first-child {
        margin-left: 0px;
      }
    }
  }

}