.ui-markdown-viewer {
  ul {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 16px;
  }

  code {
    background-color: #eeeeee;
    border-radius: 3px;
    padding: 2px 3px 2px 3px;
    line-height: 20px;
    vertical-align: middle;
  }
}