name: Docker Image CI

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
   docker:
     runs-on: ubuntu-latest
     steps:
       - name: Checkout repository
         uses: actions/checkout@v3
       - name: Set up QEMU
         uses: docker/setup-qemu-action@v2
       - name: Set up Docker Buildx
         uses: docker/setup-buildx-action@v2
       - name: Login to DockerHub
         uses: docker/login-action@v2
         with:
           username: ${{ secrets.DOCKERHUB_USERNAME }}
           password: ${{ secrets.DOCKERHUB_TOKEN }}
       - name: Build and push
         uses: docker/build-push-action@v3
         with:
           platforms: linux/amd64,linux/arm64
           push: true
           tags: guidone/redbot:latest
       - name: notification
         if: cancelled() == false
         uses: xinthink/action-telegram@v1.1
         with:
           botToken: ${{ secrets.BotToken }}
           chatId: ${{ secrets.ChatID }}
           jobStatus: ${{ job.status }}
           skipSuccess: false
